/* GENERAL */
h2{
    /* color:aqua; */
    padding-bottom: 2rem;
}

.container {
    text-align:center;
}

#scoreRealTime, #scoreOverall{
    margin: 1.5rem;
    padding: 1.5rem!important;
    padding-bottom: 2rem!important;
}

#scoreRealTime{
    margin-top: 5rem!important;
}

/* #barOverall{
    padding-bottom: 0rem;
} */


/* REAL TIME SLIDER */

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(37, 139, 175); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(37, 139, 175); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  /* PROGRESS BAR */
  body {
    font-family: "Roboto", sans-serif;
    background:#d2eaf1;
  }
  
  .circle-wrap {
    margin: 30px auto;
    width: 100px;
    height: 100px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }

  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 50px, 100px, 0px);
  background-color: rgb(37, 139, 175);
}

.circle-wrap .circle .mask {
    clip: rect(0px, 100px, 100px, 50px);
  }
  
  .mask.full,
  .circle .fill {
    transform: rotate(135deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }

  .circle-wrap .inside-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 80px;
    text-align: center;
    margin-top: 9.3px;
    margin-left: 9.3px;
    color: rgb(5, 98, 132);
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 1.5em;
  }